* {
  margin: 0; 
}

body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/564x/7c/1e/cb/7c1ecb8e2e6a1731a87f476b70c2fe93.jpg);
  background-size: cover
}

#button {
  text-align: center;
}

button {
  margin-top: 50%;
  left: 25%;
  position: relative;
  font-size: 200%;
  border: 5px black solid;
  width: 50%;
  font-family:fantasy;
  color: black;
  text-decoration: none;
  text-align: center;
  background-image: url(http://l.rgbimg.com/cache1nrWdM/users/d/dl/dlritter/600/2dP3U92.jpg);
}

button:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}

#instruction {
  text-align: center;
  color: black;
  position: absolute;
  margin-top: 5%;
}

#email {
  color: black;
  text-decoration: underline;
}

#mobile {
  font-size: 0.6em;
  text-align: center;
  width: 30%;
  margin-left: 35%;
  background-color: whitesmoke;
  margin-top: 10%;
  position: relative;
}



